nav{
    background-color: aquamarine;
    height: 75px;
}

.wrapper{
    background-color: lightblue;
    height: 80%;
    width: 85%;
}

.text{
    display: inline-block;
    height: 250px;
    width: 250px;
    background-color: bisque;

}

.image{
    height: 50px;
    width: 50px;
}
footer{
    background-color: aquamarine;
    height: 75px;
}

@media screen and (max-width: 800px){
    
    .text{
        width: 100%;
        height: auto;
        display: block;
    }
    
}
@media screen and (min-width: 800px){
    
    .text{
        width: 250px;
        height: 250px;
        margin: 8px;
    }
    
}